/******************************************************************

Stylesheet: 1280px以上のモニタで適用

******************************************************************/

.hero {
  &__title {
    & h2 {
      font-size: 33px !important;
    }
    & p {
      font-size: 22px !important;
    }
  }
}
